.cave{
    margin: 10px;
    position: relative;
    display: block;
    background: green;
    box-shadow: 0 2rem 2rem -2rem rgba(0, 0, 0, 0.24);
    border: 1px solid black;
    padding: 50px 25px;
    width: fit-content;
}

