.room {
    background-image: url(https://i.pinimg.com/236x/99/c1/9f/99c19fe9cb58c369f88761446d4d68fb--stone-wall-painting-ground-texture.jpg);
    background-size: cover;
    border: 1px solid black;
    padding: 40px;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    text-align: center;
    color: white;
}

.room-even {
  top: -25px;
}

.room-odd {
  top: 25px;
}